{
  "extends": ["airbnb", "plugin:jest/recommended", "prettier", "prettier/react"],
  "env": {
    "node": true,
    "browser": false,
    "jest": true
  },
  "plugins": ["prettier"],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/exports-last": "error",
    "import/no-anonymous-default-export": "error",
    "curly": ["error", "all"],
    "no-console": ["warn", { "allow": ["warn", "error", "info"] }],
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["state"] }],
    "prettier/prettier": "error"
  }
}
